<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Join or Create Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script defer src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>
<body>
    <div class="join-container">
        <h1>Intellect Quizzlords</h1>

        <input type="text" id="code-input" placeholder="Enter session code" />
        <button id="join-btn">Join Game</button>

        <hr />

        <button id="create-btn">Create New Game</button>
    </div>
</body>
</html>
